.route_select_div{
    width: 100%;
    background-color:#EFF5FF;
    border-color:  #95B8E7
}
.route_select_routes{
    height: 250px;
    overflow-y: scroll;
}
.route_select_selected{
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:0px;
    border-right-width:0px;
    border-style:solid;
    height:70px;
}
.route_select_search{
    height:40px;
    padding-top: 10px;
    text-align:center;
}
.route_select_search span{
    margin-left:20px;
    font-weight:bold;
}
.route_select_search .button_submit_normal{
    margin-left:10px;
}

.route_select_route{
    width:25% !important;
    min-height:20px;
    float:left;
    overflow:hidden;
}

