/** [表格主题样式一] 表格强制列不换行 */
.j-table-force-nowrap {
  /** 列自适应，弊端会导致列宽失效 */
}
.j-table-force-nowrap td,
.j-table-force-nowrap th {
  white-space: nowrap;
}
.j-table-force-nowrap .ant-table-selection-column {
  padding: 12px 22px !important;
}
.j-table-force-nowrap.ant-table-wrapper .ant-table-content {
  overflow-x: auto;
}
.j-table-force-nowrap .ant-table-tbody .ant-table-row:nth-child(n) {
  background: #fff !important;
}
.j-table-force-nowrap .ant-table-tbody .ant-table-row:nth-child(2n) {
  background: #eff6fc !important;
}
.j-table-force-nowrap .ant-table-body .ant-table-tbody .ant-table-row-selected {
  background: #eff6fc !important;
}
.j-table-force-nowrap .ant-table-thead > tr > th {
  color: #15428b;
  background: #eff6fc !important;
  border-bottom: 1px solid #99bbe8;
  border-right: 1px solid #99bbe8;
}
.j-table-force-nowrap .ant-table-tbody > tr > td {
  border-bottom: 1px solid #99bbe8;
  border-right: 1px solid #99bbe8;
}
.j-table-force-nowrap .ant-table-tbody > tr.ant-table-row-selected td {
  background: #eff6fc !important;
}
.j-table-force-nowrap .ant-table-bordered .ant-table-body > table {
  border: 1px solid #99bbe8;
  border-right: 0;
  border-bottom: 0;
}
.j-table-force-nowrap .ant-table-placeholder {
  background: #eff6fc !important;
  border-right: 1px solid #99bbe8 !important;
  border-left: 1px solid #99bbe8 !important;
  border-bottom: 1px solid #99bbe8 !important;
}
.j-table-force-wrap {
  /** 列自适应，弊端会导致列宽失效 */
}
.j-table-force-wrap .ant-table-selection-column {
  padding: 12px 22px !important;
}
.j-table-force-wrap.ant-table-wrapper .ant-table-content {
  overflow-x: auto;
}
.j-table-force-wrap .ant-table-tbody .ant-table-row:nth-child(n) {
  background: #fff !important;
}
.j-table-force-wrap .ant-table-tbody .ant-table-row:nth-child(2n) {
  background: #eff6fc !important;
}
.j-table-force-wrap .ant-table-body .ant-table-tbody .ant-table-row-selected {
  background: #eff6fc !important;
}
.j-table-force-wrap .ant-table-thead > tr > th {
  color: #15428b;
  background: #eff6fc !important;
  border-bottom: 1px solid #99bbe8;
  border-right: 1px solid #99bbe8;
}
.j-table-force-wrap .ant-table-tbody > tr > td {
  border-bottom: 1px solid #99bbe8;
  border-right: 1px solid #99bbe8;
}
.j-table-force-wrap .ant-table-tbody > tr.ant-table-row-selected td {
  background: #eff6fc !important;
}
.j-table-force-wrap .ant-table-bordered .ant-table-body > table {
  border: 1px solid #99bbe8;
  border-right: 0;
  border-bottom: 0;
}
.j-table-force-wrap .ant-table-placeholder {
  background: #eff6fc !important;
  border-right: 1px solid #99bbe8 !important;
  border-left: 1px solid #99bbe8 !important;
  border-bottom: 1px solid #99bbe8 !important;
}
